
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.test-cache/
/java-git-automation/cloned-repo/
*.class
/java-git-automation/allure-results
/java-git-automation/.allure
/java-git-automation/target
*.lst